<a href="https://colab.research.google.com/github/mateusfg7/notbook_codes/blob/master/Introducao_a_machine_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# sabe JS
# sabe PYTHON
# sabe Assembly
# sabe C++
# sabe Pascal

bom1 = [1, 1, 1, 1, 1]
bom2 = [1, 1, 0, 1, 0]
bom3 = [1, 0, 1, 1, 1]
bom4 = [0, 1, 1, 1, 1]

ruim1 = [0, 0, 0, 0, 0]
ruim2 = [1, 0, 0, 0, 0]
ruim3 = [0, 0, 1, 0, 1]
ruim4 = [0, 0, 0, 1, 0]
ruim5 = [0, 1, 1, 0, 1]

treino_x = [bom1, bom2, bom3, bom4, ruim1, ruim2, ruim3, ruim4, ruim5]
treino_y = [1, 1, 1, 1, 0, 0, 0, 0, 0]

In [0]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [0]:
programador_qualquer0 = [1, 1, 1, 1, 0] # 1 bom
programador_qualquer1 = [0, 0, 0, 1, 1] # 0 ruim
programador_qualquer2 = [1, 0, 0, 1, 1] # 1 bom
programador_qualquer3 = [0, 0, 1, 1, 0] # 0 ruim
programador_qualquer4 = [1, 0, 1, 1, 0] # 1 bom
programador_qualquer5 = [0, 1, 0, 0, 1] # 0 ruim

teste_x = [programador_qualquer0, programador_qualquer1, programador_qualquer2, programador_qualquer3, programador_qualquer4, programador_qualquer5]
teste_y = [1, 0, 1, 0, 1, 0]

previsoes = modelo.predict(teste_x)
previsoes

array([1, 0, 1, 0, 1, 0])

In [0]:
from sklearn.metrics import accuracy_score

accuracy_score(teste_y, previsoes) * 100

100.0

In [0]:
import pandas as pd

uri = "https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/acesso.csv"
dados = pd.read_csv(uri)
dados.head()

   home  como_funciona  contato  comprou
0     1              1        0        0
1     1              1        0        0
2     1              1        0        0
3     1              1        0        0
4     1              1        0        0

In [0]:
dados.sample(5)

    home  como_funciona  contato  comprou
94     0              0        1        0
48     1              1        0        0
90     1              0        1        1
0      1              1        0        0
41     0              0        1        0

In [0]:
x = dados[["home", "como_funciona", "contato"]]
x.head()

   home  como_funciona  contato
0     1              1        0
1     1              1        0
2     1              1        0
3     1              1        0
4     1              1        0

In [0]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [0]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)

modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes) * 100

92.0